{% extends "layout.html" %}
{% block content %}
<div class="content_section_one">
    <p> User: <strong><em> {{ user_name }} </em></strong> <p>
    <p> Batch: <strong><em> {{ batch }} </em></strong> <p>
    <p> Tiles location: <strong><em> {{ dirpath_tiles }} </em></strong> <p>
</div>

<div class="content_section_two">
    <form action="{{ url_for('availables',  batch=batch) }}" method="POST">
        <div class="select__tiles">
        <p> Tiles with: <em><strong> PCA processing level </em></strong> </p>
        <select name="tile" place multiple>
        <option value="" disabled selected>Choose one or more tiles</option>
        {% for row in data %}
        <option value="{{row[1]}}">{{row[1]}}</option>
        {% endfor %}
        </select>
        </div>
        <button class="availables__btn" type="submit">submit</button>
        </div>
    </form>
</div>
{% endblock  content %}
