<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content=width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css" />
      <title>AmazonDB</title>
  </head>

  <body>
  <div class="navbar">
    <div class="title">
        <p> Amazon Biodiversity DB </p>
    </div>
    <div class="dropdown">
     <button class="dropbtn">User
     </button>
      <div class="dropdown-content">
          <a href="{{ url_for('update', user_name=user_name) }}">Update</a>
          <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Availables
      </button>
      <div class="dropdown-content">
          {% for item in batches %}
          <a href="{{ url_for('availables', batch=item) }}">batch {{ item }}</a>
          {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Results
      </button>
      <div class="dropdown-content">
          {% for item in batches %}
          <a href="{{ url_for('results', batch=item) }}">batch {{ item }}</a>
          {% endfor %}
       </div>
    </div>
   </div>
      <div class="main_div">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="{{ category }}" >
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      </div>

  </body>

</html>
