<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content=width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css" />
      <title>AmazonDB</title>
  </head>

<body>
<div class="navbar">
  <div class="title">
    <p> Amazon Biodiversity DB </p>
  </div>
  <div class="navbar_right">
      <a class="links" href="{{ url_for('login') }}">Login</a>
      <a class="links" href="{{ url_for('register') }}">Register</a>
  </div>
</div> 

<div class="main_div">  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="{{ category }}" >
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  
  <div class="content_section_one">
    <form action="{{ url_for('login') }}" method="POST">
      <div class="select__user">
        <select name="user_name" place>
        <option value="" disabled selected>Select a User</option>
          {% for usr in users %}
          <option value="{{ usr }}">{{ usr }}</a>
          {% endfor %}
        </select>
      </div>
    
  </div>
  
  <div class="content_section_two">
      <label>
          Password:<br />
        <input type="password" name="user_password">
      </label><br />
      <button class="submit__btn" type="submit" name="action" value="update">submit</button>
      </form>
  </div>  

</div>
</body>
</html>
