{% extends "layout.html" %}
{% block content %}

<section>
    <h2> User: {{ user_name }}</h2>
</section>

<section>
<h2> To update: </h2>
 <table>
  <thead>
    <tr>
        <th> Tile_id </th>
        <th> Name </th>
        <th> Proc_level </th>
        <th> User </th>
        <th> Action </th>
        <th> Action </th>
    </tr>
    </thead>
    <tbody>
     {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>
                    <button class="update__btn" type="submit" value="update">update</button>
                    
                </td>
                <td>
                    <button class="discard__btn" type="submit" value="discard">discard</button>
                    
                </td>
            </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock  content %}
