{% extends "layout.html" %}
{% block content %}
<section>
    <h2> User: {{ user_name }}</h2>
</section>

<section>
    <h2> To update: </h2>
    <form action="{{ url_for('update', user_name=user_name) }}" method="POST">
        <div class="select__tiles">
        <select name="tile" place>
        <option value="" disabled selected>Choose a tile</option>
        {% for row in data %}    
        <option value="{{row[1]}}">{{row[1]}}</option>
        {% endfor %}
        </select>
        </div>
        <button class="discard__btn" type="submit" name="action" value="discard">discard</button>
        <button class="update__btn" type="submit" name="action" value="update">update</button>
    </form>
</section>

{% endblock  content %}
